Repository naofumi-fujii/recall: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, rust-fmt, rust-clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typescript:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit
    rust-fmt:
      glob: "*.rs"
      root: "src-tauri/"
      run: cargo fmt --check
    rust-clippy:
      glob: "*.rs"
      root: "src-tauri/"
      run: cargo clippy -- -D warnings

バージョンを1.0.3に更新
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Add tooltip to show full content on history item hover
  src/App.tsx
  src/styles.css
Due: typescript

バージョンを1.0.4に更新
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Fix Homebrew installation link for Banzai
  README.md
Due: none

バージョンを1.0.5に更新
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

Add npm to Dependabot and fix Cargo directory path
  .github/dependabot.yml
Due: none

Replace theme toggle text with lucide-react icons
  package-lock.json
  package.json
  src/App.tsx
Due: typescript

Replace release.ts with shell script and add workflow_dispatch
  .github/workflows/release.yml
  CLAUDE.md
  scripts/release.sh
  scripts/release.ts
Due: typescript

Show window when Dock icon is clicked
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

ヘッダーを固定し履歴リストのみスクロール可能に変更
  src/styles.css
Due: none

Add version display to header title
  src/App.tsx
  src/styles.css
Due: typescript

Fix auto-launch to always use /Applications path
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

矢印キーでクリップボード履歴を移動できるように
  src/App.tsx
  src/styles.css
Due: typescript

$ pnpm install
  pnpm-lock.yaml
Due: none

Change release workflow to use semver bump selection
  .github/workflows/release.yml
  CLAUDE.md
  scripts/release.sh
Due: none

画面左右端にもマージンを追加
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

ウィンドウが完全に画面内に収まるよう修正
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: none

READMEのreleaseセクションを修正
  README.md
Due: none

Translate release.sh comments and messages to English
  scripts/release.sh
Due: none

Display history count as current/max format
  src-tauri/src/lib.rs
  src/App.tsx
Due: typescript, rust-fmt, rust-clippy

Remove pnpm-lock.yaml as project uses npm
  pnpm-lock.yaml
Due: none

Rename project from Banzai to Recall
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  README.md
  index.html
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: rust-fmt, rust-clippy

Regenerate Cargo.lock to reflect package rename from banzai to recall
  src-tauri/Cargo.lock
Due: none

Fix remaining Banzai reference in UI header
  src/App.tsx
Due: typescript

Increase max clipboard history entries from 100 to 200
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

Update all Tauri packages to 2.10.x
  package-lock.json
  package.json
  src-tauri/Cargo.lock
Due: none

Change Dependabot update time to 07:00
  .github/dependabot.yml
Due: none

Update @vitejs/plugin-react to v6 and fix vite.config for Vite 8 compatibility
  package-lock.json
  package.json
  vite.config.ts
Due: typescript

Add vite-env.d.ts for TypeScript 6.0 compatibility
  src/vite-env.d.ts
Due: typescript

Fix white screen by aligning react-dom version with react
  package-lock.json
  package.json
Due: none

Group react packages in dependabot to prevent version mismatch
  .github/dependabot.yml
Due: none

Fix clippy: use sort_by_key instead of sort_by
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

Group tauri-related updates in Dependabot
  .github/dependabot.yml
Due: none

Bump @tauri-apps/api to ^2.11.0 to match tauri crate 2.11.x
  package-lock.json
  package.json
Due: none

Fix popup horizontal centering on Retina displays
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

Apply cargo fmt
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

Add cooldown periods to Dependabot to mitigate supply chain attack risk
  .github/dependabot.yml
Due: none

Remove unsupported semver-* cooldown keys from github-actions ecosystem
  .github/dependabot.yml
Due: none

Add search filter to clipboard history
  src/App.tsx
Due: typescript
